<%- include("header") -%>

<div class="layout">
  <h1>About us</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quasi
    molestias laudantium in sed nostrum nesciunt dolore, error magni repudiandae
    optio quis recusandae quia at, culpa blanditiis delectus asperiores ex quod
    minima voluptates beatae magnam mollitia? Ea cupiditate, suscipit unde
    provident in iste, debitis recusandae quod iusto inventore corrupti, magni
    distinctio fugiat labore itaque fugit impedit facere sunt alias! Eligendi
    aliquid libero dolores iure aliquam voluptas beatae rem in perspiciatis
    sapiente incidunt possimus quis reiciendis iusto, cupiditate distinctio
    dolorem, quod quam eos alias. Vero saepe iste, vel ea minima mollitia
    commodi facilis consequuntur recusandae? Alias
  </p>
</div>

<%- include("footer") -%>
