<%- include("header") -%>

<div class="layout">
  <h1>Contact</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio deleniti
    quisquam excepturi earum, reprehenderit dolores cumque ipsum ullam magni
    aspernatur officia. Molestias voluptas architecto omnis, nemo blanditiis
    quisquam assumenda vero alias aliquid voluptates eveniet similique dicta
    inventore distinctio, at, recusandae fuga commodi. Tempora explicabo debitis
    facere, hic, iure eum eligendi nostrum sapiente minus officiis error
    dolores, perspiciatis odio consequuntur placeat. Voluptas soluta assumenda
    eum praesentium, ullam repellat consectetur. Et quasi amet ipsum
    reprehenderit aliquam aspernatur! Autem, tenetur cum sit quaerat voluptatem
    delectus, dolore perspiciatis ipsum consequatur, commodi laborum dolorum
    quibusdam? Omnis tempora ipsum accusantium, quia dicta ducimus laboriosam
    voluptate voluptatum quaerat sed tempore totam a delectus animi accusamus
    labore, modi dolor maiores molestias amet dignissimos tenetur iste quidem.
    Quibusdam laboriosam, corporis velit quasi, atque dicta sed exercitationem
    unde facilis fugit, numquam commodi incidunt labore iste qui reiciendis amet
    at iusto doloribus natus animi est. Accusamus eum blanditiis alias aut in.
  </p>
</div>
<%- include("footer") -%>
