<%- include("header") -%>
<div class="entry layout">
  <h1><%= newEntryF[id].title %></h1>
  <% console.log(newEntryF[id].title); %>
  <p><%= newEntryF[id].entry %></p>
</div>
<%- include("footer") -%>
